In [1]:
import pandas as pd
import os

In [2]:
# merging csv from 2010 till 202003
df = pd.concat(
    map(pd.read_csv, ['./Resources/Washington DC/2010/2010-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2011/2011-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2012/2012Q1-capitalbikeshare-tripdata.csv', 
                      './Resources/Washington DC/2012/2012Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2012/2012Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2012/2012Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2013/2013Q1-capitalbikeshare-tripdata.csv', 
                      './Resources/Washington DC/2013/2013Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2013/2013Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2013/2013Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2014/2014Q1-capitalbikeshare-tripdata.csv', 
                      './Resources/Washington DC/2014/2014Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2014/2014Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2014/2014Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2015/2015Q1-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2015/2015Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2015/2015Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2015/2015Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2016/2016Q1-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2016/2016Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2016/2016Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2016/2016Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2017/2017Q1-capitalbikeshare-tripdata.csv', 
                      './Resources/Washington DC/2017/2017Q2-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2017/2017Q3-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2017/2017Q4-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201801_capitalbikeshare_tripdata.csv',                       
                      './Resources/Washington DC/2018/201802-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201803-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201804-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201805-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201806-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201807-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201808-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201809-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201810-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201811-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2018/201812-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201901-capitalbikeshare-tripdata.csv',                       
                      './Resources/Washington DC/2019/201902-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201903-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201904-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201905-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201906-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201907-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201908-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201909-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201910-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201911-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2019/201912-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2020/202001-capitalbikeshare-tripdata.csv',                       
                      './Resources/Washington DC/2020/202002-capitalbikeshare-tripdata.csv',
                      './Resources/Washington DC/2020/202003-capitalbikeshare-tripdata.csv',]), ignore_index=True)
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member

In [9]:
# rename Pandas columns to lower case
# Remove space from column names
df.columns = df.columns.str.replace(' ', '')
df= df.rename(columns=str.lower)

In [10]:
df.dtypes

duration               int64
startdate             object
enddate               object
startstationnumber     int64
startstation          object
endstationnumber       int64
endstation            object
bikenumber            object
membertype            object
dtype: object

In [11]:
df.shape

(26596144, 9)

In [12]:
#Five months of 2021 merged
df.to_csv('./Resources/2010-202003_citibike.csv', index=False)

In [ ]:
##Merging 202005 till 202105 for the unique columns from the rest of the data
#df = pd.concat(
#    map(pd.read_csv, ['./Resources/Washington DC/2020/202005-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202006-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202007-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202008-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202009-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202010-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202011-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2020/202012-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2021/202101-capitalbikeshare-tripdata.csv',                       
#                      './Resources/Washington DC/2021/202102-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2021/202103-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2021/202104-capitalbikeshare-tripdata.csv',
#                      './Resources/Washington DC/2021/202105-capitalbikeshare-tripdata.csv']), ignore_index=True)

In [ ]:
#Five months of 2021 merged
#df.to_csv('./Resources/202005-202105_citibike.csv', index=False)

In [13]:
df = pd.read_csv('./Resources/2010-202003_citibike.csv')
df.head()

,duration,startdate,enddate,startstationnumber,startstation,endstationnumber,endstation,bikenumber,membertype
0,1012,2010-09-20 11:27:04,2010-09-20 11:43:56,31208,M St & New Jersey Ave SE,31108,4th & M St SW,W00742,Member
1,61,2010-09-20 11:41:22,2010-09-20 11:42:23,31209,1st & N St SE,31209,1st & N St SE,W00032,Member
2,2690,2010-09-20 12:05:37,2010-09-20 12:50:27,31600,5th & K St NW,31100,19th St & Pennsylvania Ave NW,W00993,Member
3,1406,2010-09-20 12:06:05,2010-09-20 12:29:32,31600,5th & K St NW,31602,Park Rd & Holmead Pl NW,W00344,Member
4,1413,2010-09-20 12:10:43,2010-09-20 12:34:17,31100,19th St & Pennsylvania Ave NW,31201,15th & P St NW,W00883,Member