In [3]:
# import dependencies
import os
import pandas as pd

In [65]:
# import index csv for datasets
#file_path = "../Datasets/Washington DC/capitalbikeshare_dataset_index.xlsx"
folder_path = '../Datasets/Washington DC/'
file_name = 'capitalbikeshare_dataset_index.csv'
index_df=pd.read_csv(f"{folder_path}{file_name}")

In [66]:
index_df.head()

   Index  Year                         File Name  Path Note
0      0  2010    2010-capitalbikeshare-tripdata   NaN  NaN
1      1  2011    2011-capitalbikeshare-tripdata   NaN  NaN
2      2  2012  2012Q1-capitalbikeshare-tripdata   NaN  NaN
3      3  2012  2012Q2-capitalbikeshare-tripdata   NaN  NaN
4      4  2012  2012Q3-capitalbikeshare-tripdata   NaN  NaN

In [67]:
# Adjust the "Year" column as string data to add 
index_df['Year'] = index_df['Year'].astype(str)
index_df.dtypes

Index          int64
Year          object
File Name     object
Path         float64
Note          object
dtype: object

In [96]:
# variables
i = 0
Year = index_df['Year'][i]+'/'
file_name = index_df['File Name'][i]+'.csv'
file_name = f'{file_name}'
file_name

'2010-capitalbikeshare-tripdata.csv'

In [98]:
# loop through the 0 to 63 indexes of dataset files we have to import csv files into dataframe
def read_files(i):
    # for i in range(0,65):
        i = 4
        Year = index_df['Year'][i]+'/'
        file_name = index_df['File Name'][i]+'.csv'
        file_name = f'{file_name}'
        folder_path = '../Datasets/Washington DC/'
        folder_path = f"{folder_path}{Year}{file_name}"
        df = pd.read_csv(f"{folder_path}")
        return df
read_files(i)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,420,2012-07-01 00:00:08,2012-07-01 00:07:09,31104,Adams Mill & Columbia Rd NW,31200,Massachusetts Ave & Dupont Circle NW,W01155,Member
1,268,2012-07-01 00:00:31,2012-07-01 00:05:00,31616,3rd & H St NE,31615,6th & H St NE,W00405,Member
2,494,2012-07-01 00:00:32,2012-07-01 00:08:46,31307,3000 Connecticut Ave NW / National Zoo,31113,Columbia Rd & Belmont St NW,W00942,Member
3,655,2012-07-01 00:01:34,2012-07-01 00:12:29,31007,Crystal City Metro / 18th & Bell St,31002,20th & Crystal Dr,W01121,Member
4,1681,2012-07-01 00:02:06,2012-07-01 00:30:08,31235,19th St & Constitution Ave NW,31222,New York Ave & 15th St NW,W01039,Casual
...,...,...,...,...,...,...,...,...,...
629912,470,2012-09-30 23:52:04,2012-09-30 23:59:55,31106,Calvert & Biltmore St NW,31234,20th & O St NW / Dupont South,W20002,Member
629913,1048,2012-09-30 23:53:57,2012-10-01 00:11:25,31626,15th St & Massachusetts Ave SE,31503,Florida Ave & R St NW,W01456,Member
629914,430,2012-09-30 23:58:23,2012-10-01 00:05:34,31111,10th & U St NW,31214,17th & Corcoran St NW,W00630,Member
629915,292,2012-09-30 23:59:13,2012-10-01 00:04:05,31623,Columbus Circle / Union Station,31604,3rd & H St NW,W00308,Member
629916,323,2012-09-30 23:59:56,2012-10-01 00:05:20,31610,Eastern Market / 7th & North Carolina Ave SE,31622,13th & D St NE,W01438,Member